body {
  background-color: hsl(60deg 7% 87%);
  font-family: Calisto MT, Garamond, Cambria;
  color: black;
}

.page-container {
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}

.title {
  text-align: center;
  margin-top: 3%;
}

.section-container {
  display: flex;
  margin: auto;
  gap: 20px;
  padding-bottom: 3%;
}

.picture-big {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 5%;
  width: 1200px;
  border: 2px solid black;
  border-radius: 10px;
}

.picture {
  width: 600px;
  border: 2px solid black;
  border-radius: 10px;
  object-fit: cover;
}

.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 16px;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
}

a:link, a:visited { 
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}

.about {
  margin-left: auto;
  margin-right: 0;
}