.picture {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

body {
  background-color: hsl(60deg 7% 87%);
  font-family: Calisto MT, Garamond, Cambria;
  color: black;
}

.page-container {
  width: 92%;
  margin-top: 5rem;
  margin: auto;
  padding-bottom: 40px;
}

.section-container {
  margin-top: 5rem;
  
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.clear{
  clear:both;
}

.image {
  width: 600px;
  float: right;
  margin-left: 10px;
  border: 2px solid hsl(60deg 7% 87%);
  border-radius: 10px;
  padding-bottom: 40px;
}

.textleft {
  float: left;
  width: calc(92% - 600px - 10px);
  margin-bottom: 60px;
}

.buttonleft {
  float: left;
  position: absolute;
  left: calc(0.4 * calc(92% - 600px - 10px));
}

.button-6 {
  align-items: center;
  background-color: #ffffff94;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgb(0, 0, 0);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgb(0, 0, 0);
  transform: translateY(0);
}