.picture {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  aspect-ratio: 1;
}

.picture:hover {
  filter: brightness(80%);
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  gap: 12px;
}

body {
  background-color: hsl(60deg 7% 87%);
  font-family: Calisto MT, Garamond, Cambria;
  color: black;
}

.page-container {
  width: 92%;
  margin-top: 5rem;
  margin: auto;
  padding-bottom: 30px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.clear{
  clear:both;
}

.image {
  width: 600px;
  float: right;
  margin-left: 10px;
  border: 2px solid hsl(60deg 7% 87%);
  border-radius: 10px;
}

.textleft {
  float: left;
  width: calc(92% - 600px - 10px);
}